<sidebar>
	<div class="sidebar">
		<div class="header">
			<h1>Country List</h1>
		</div>
		<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for country..">
		<ul id="myUL" class="country-list">
			{% for key, value in all_countries.items %}
			<li>
				<a href="{% url 'country' country_name=value %}">{{ key }}</a>
			</li>	
			{% endfor %}
		</ul>
	</div>
</sidebar>

	<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>